@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;1,300&display=swap');

body {
    font-family: Inter, sans-serif, Arial;
    background-image: url("/assets/wave-haikei.png");
    background-repeat: no-repeat;
    background-size: 150%;
    color: white;
}